@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    margin: 0;
    overflow-x: hidden;
    nav {
        display: flex;
        padding: 0.5em;
        background: #345;
        justify-content: center;
        margin: 0;
        & a {
            padding: 0.6em 0.8em;
            border: 1px solid #ddd;
            margin: 0em 1em;
            color: white;
            text-decoration: none;
            transition: backdrop-filter 0.2s ease;
            &:hover {
                backdrop-filter: brightness(130%);
            }
        }
    }
}

* {
    font-family: 'Open Sans' !important;
}

section:not(:is(.hero, .services, .contact)) {
    margin-left: 15vw !important;
    margin-right: 15vw !important;
    padding-bottom: 2vh;
}

section.hero {
    background: url(../assets/img11.jpg) center/100% no-repeat;
    height: 28rem;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    text-shadow: 1px 1px 1px black;
    & h1 {
        color: white;
        text-transform: uppercase;
        font-size: 3.5rem;
        font-weight: 400;
        margin-bottom: 0;
    }
    & p {
        margin-top: 0rem;
        color: white;
    }
}

section.headlines {
    /* margin: 0 10em; */
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 1em;
    gap: 2vw;
    & article {
        background: url(../assets/img1.jpg) #eee center/cover no-repeat;
        background-position: 0% 0%;
        /* max-width: 20%; */
        background-size: 100% 50%;
        padding-top: 3vh;
        padding-left: 1vw;
        padding-right: 1vw;
        & .content {
            margin-top: 35%;
            display: flex;
            flex-direction: column;
            align-content: center;
            & h3 {
                color: #5a5;
                margin-top: 5vh;
                margin-bottom: -0.2em;
            }
            & p {
                font-size: 0.8rem;
            }
            & button {
                width: 30%;
                margin: 0.2em auto 1em auto;
                background: #494;
                border: none;
                border-radius: 0.3em;
                color: white;
                padding: 0.5rem;
            }
        }
    }
    & article:nth-child(2) {
        background: url(../assets/img2.jpg) #eee center/cover no-repeat;
        background-position: 0% 0%;
        background-size: 100% 50%;
        & .content {
            & h3 {
                color: #59d;
            }
            & button {
                background: #59d;
            }
        }
    }
    & article:nth-child(3) {
        background: url(../assets/img3.jpg) #eee center/cover no-repeat;
        background-position: 0% 0%;
        background-size: 100% 50%;
        & .content {
            & h3 {
                color: #655;
            }
            & button {
                background: #933;
            }
        }
    }
}

section.twocolumn {
    display: flex;
    justify-content: space-around;
    /* margin: 1em; */
    gap: 2vw;
    & article {
        background: url(../assets/img4.jpg) #eee center/cover no-repeat;
        background-position: 0% 0%;
        background-size: 100% 55%;
        padding-top: 10vh;
        padding-left: 1vw;
        padding-right: 1vw;
        padding-bottom: 4vh;
        & .content {
            margin-top: 18em;
            display: flex;
            flex-direction: column;
            & h3 {
                color: #888;
                text-align: center;
                margin: 5em auto 1em auto;
            }
            & p {
                font-size: 0.8rem;
            }
            & button {
                align-self: flex-end;
                margin-right: 0.5vw;
                margin-bottom: 0.2vh;
                margin-top: 0.5vh;
            }
        }
    }
    & article:last-child {
        background-image: url(../assets/img5.jpg);
    }
}

button:not(.headlines > article > div > button) {
    background: #fafafa;
    border: 1px #ccc solid;
    border-radius: 0.4rem;
    padding: 0.5em 1em;
    color: #444;
    transition: background 0.2s ease;
    cursor: pointer;
    font-size: 1.1em;
    &:hover {
        background: #eee;
    }
}

button {
    cursor: pointer;
}

section.services {
    background: url(../assets/img13.jpg) top/100% no-repeat;
    background-position-y: 10%;
    height: 15rem;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    & h2 {
        color: white;
        font-size: 2rem;
        font-weight: 400;
        text-shadow: 1px 1px 1px black;
        margin-bottom: 0;
    }
    & p {
        margin-top: 0.5rem;
        text-align: center;
        width: 40%;
        color: white;
        font-size: 1.1rem;
    }
}

section.fourcolumns {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 2vh;
    & article {
        background: url(../assets/img6.jpg) #eee center/cover no-repeat;
        background-position: 0% 0%;
        max-width: 20%;
        background-size: 100% 60%;
        padding-top: 3vh;
        padding-left: 1vw;
        padding-right: 1vw;
        & .content {
            margin-top: 60%;
            display: flex;
            flex-direction: column;
            align-content: center;
            & h3 {
                color: #555;
                margin-top: 8vh;
                margin-bottom: -0.2em;
                text-align: center;
            }
            & p {
                font-size: 0.8rem;
            }
            & button {
                width: 50%;
                align-self: center;
                margin-top: 1vh;
                margin-bottom: 1vh;
            }
        }
    }
    & article:nth-child(2) {
        background: url(../assets/img7.jpg) #eee center/cover no-repeat;
        background-position: 0% 0%;
        background-size: 100% 60%;
    }
    & article:nth-child(3) {
        background: url(../assets/img8.jpg) #eee center/cover no-repeat;
        background-position: 0% 0%;
        background-size: 100% 60%;
    }
    & article:nth-child(4) {
        background: url(../assets/img9.jpg) #eee center/cover no-repeat;
        background-position: 0% 0%;
        background-size: 100% 60%;
    }
}

section.onecolumn {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    & article {
        background: url(../assets/img10.jpg) #eee center/cover no-repeat;
        background-position: 0% 0%;
        background-size: 100% 65%;
        padding-top: 3vh;
        & .content {
            margin-top: 20%;
            margin: 20% 1em 1em 1em;
            display: flex;
            flex-direction: column;
            align-content: center;
            & h3 {
                color: #555;
                margin-top: 10vh;
                margin-bottom: -0.2em;
            }
            & p {
                font-size: 0.8rem;
                &:nth-child(2) {
                    margin-bottom: 0;
                }
                &:nth-child(3) {
                    margin-top: 1vh;
                }
            }
            & button {
                align-self: flex-start;
                margin-top: 1vh;
                margin-bottom: 0.5vh;
            }
        }
    }
}

section.contact {
    background: url(../assets/img14.jpg) center/cover no-repeat;
    height: 30rem;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    & h2 {
        color: white;
        font-size: 2rem;
        font-weight: 400;
        text-shadow: 0.05em 0.05em 1px #222;
        margin-bottom: 4vh;
    }
    & p {
        margin-top: 0.2rem;
        text-align: center;
        width: 30%;
        display: block;
        color: #111;
        font-size: 0.95rem;
        background: #fffa;
        border-radius: 0.2rem;
        padding: 1rem 1.5rem;
    }
    & form {
        display: grid;
        grid-template: 1fr 1fr 1fr / 1fr 1fr;
        gap: 1em;
        width: 32.5%;
        & textarea {
            grid-row: 1 / 4;
            grid-column: 2;
        }
        & :not(button) {
            background: #fffa;
            border: 1px #fff3 solid;
            border-radius: 0.2rem;
            padding: 0.4rem;
            &::placeholder {
                color: #222;
            }
            &:focus {
                outline-width: 0;
            }
        }
        & > button {
            background: #222 !important;
            color: white !important;
            grid-column: 2;
            width: 25%;
            &:hover {
                background: #333 !important;
            }
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-style: italic;
    color: #555;
    & hr {
        width: 100%;
        border: 1px solid #ccc;
        & + p {
            font-style: normal;
        }
    }
    & h2 {
        font-weight: 500;
        font-size: 2em;
    }
}
